.article-card {
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-align: left;
}

.article-card-img-container {
    width: 280px;
    height: 200px;
}

.article-card-image-container>img {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.article-card-category {
    color: #358588;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
}

.article-card-title {
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.article-card-sub {
    margin-top: 10px;
    font-size: 14px;
}

.article-card:hover img {
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 10%);
    transition: box-shadow 0.3s ease, border 0.3s ease;
}