.facility-card-box {
    border: 1px solid #f0f0f5;
    box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
    border-radius: 24px;
    cursor: pointer;
    width: 200px;
    height: 288px;
}

.facility-card-image-container {
    padding: 12px 26px 0px 26px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 158px;
}

.facility-card-image-container>img {
    width: 100%;
    height: 100%;
}

.facility-card-info {
    padding: 20px 18px 0px 18px;
    text-align: left;
}

.facility-card-info>p:nth-of-type(1) {
    padding-bottom: 8px;
    margin: 0;
    color: #2d2d32;
    font-weight: 700;
    font-size: 20px;
}

.facility-card-info>p:nth-of-type(2) {
    color: #787887;
    font-size: 14px;
    margin: 0;
}