.location-search-box {
    display: flex;
    align-items: center;
    width: 286px;
    position: relative;
}

.location-search-box>img {
    border: 1px solid #ddd;
    border-right: none;
    height: 40px;
    padding-left: 5px;
}

.search-location-input-box {
    height: 40px;
    width: 100%;
    padding: 6px 20px 5px 10px;
    border: 1px solid #ddd;
    border-left: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.search-location-input-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: 2px;
    border: 1px solid #555;
}

.search-location-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
}

.search-location-result-item>span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.search-location-result-item>span:nth-of-type(2)>div:nth-of-type(1) {
    color: #414146;
    font-size: 14px;
}

.search-location-result-item>span:nth-of-type(2)>div:nth-of-type(2) {
    color: #787887;
    font-size: 12px;
}

.search-location-result-item:hover {
    background-color: #f0f0f5;

}




.doctor-search-box {
    display: flex;
    align-items: center;
    width: 430px;
    position: relative;
}

.doctor-search-box>img {
    border: 1px solid #ddd;
    border-right: none;
    height: 40px;
    padding-left: 5px;
}

.search-doctor-input-box {
    height: 40px;
    width: 100%;
    padding: 6px 20px 5px 10px;
    border: 1px solid #ddd;
    border-left: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.search-doctor-input-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: 2px;
    border: 1px solid #555;
}

.search-doctor-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
}

.search-doctor-result-item:hover {
    background-color: #f0f0f5;
}

.search-doctor-result-item>span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.search-doctor-result-item>span:nth-of-type(2) {
    font-size: 14px;
    color: #414146;
}

.search-doctor-result-item>span:nth-of-type(3) {
    font-size: 11px;
    flex-grow: 1;
    color: #787887;
    text-align: right;
    text-transform: uppercase;
    justify-self: flex-end;
}