.user-reviews-carousel-container {
    margin-bottom: 30px;
    margin-top: 50px;
}

.user-reviews-carousel-container>h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.user-review-slider {
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.user-review-item>p {
    font-size: 24px;
    padding: 0 250px;
}

.user-review-item>div {
    font-weight: 700;
    margin-top: 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-review-item>div>span {
    margin-right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f5;
    background-color: #f0f0f5;
    border-radius: 50%;
}