.navbar-area {
    border-bottom: 2px solid #f0f0f5;
}

.nav-container {
    max-width: 1280px;
    margin: auto;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    color: #414146;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200;
}

.nav-logo {
    width: 108px;
}

.div-nav-left {
    display: flex;
    align-items: center;
    min-width: 108px;
}

.div-nav-middle {
    padding: 0 20px;
    display: flex;
}

.div-nav-middle-item {
    text-align: left;
    cursor: pointer;
    margin-right: 20px;
}

.div-nav-middle-item>div:nth-of-type(1) {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #2d2d32;
    letter-spacing: -0.3px;
}

.div-nav-middle-item>div:nth-of-type(2) {
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    letter-spacing: -0.1px;
}

.nav-dropdown {
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
}

.nav-dropdown-item {
    color: #414146;
    line-height: 35px;
    font-size: 14px;
    padding: 10px 20px;
}

.btn-login {
    font-size: 13px;
    line-height: 13px;
    color: #787887;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    padding: 8px 10px;
}

.btn-login:hover {
    border-color: #14bef0;
    color: #14bef0;
}

@media (max-width: 1240px) {
    .nav-dropdown:nth-of-type(1) {
        display: none;
    }
}

@media (max-width: 1130px) {
    .nav-dropdown:nth-of-type(1) {
        display: inline-block;
    }

    .div-nav-middle {
        display: none;
    }
}

@media (max-width: 800px) {
    .div-nav-right {
        display: none;
    }
}