.doctor-card-container {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f5;
    color: #414146;
}

.doctor-card-container img {
    width: 100%;
}

.doctor-card-details-container {
    display: flex;
    text-align: left;
    font-size: 14px;
}

.doctor-card-profile-image-container {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 16px;
}

.doctor-card-details {
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f5;
}

.doctor-card-detail-name {
    font-size: 20px;
    font-weight: 400;
    color: #14bef0;
    cursor: pointer;
}

.doctor-card-detail-name:hover {
    text-decoration: underline;
}

.doctor-card-detail-speciality, .doctor-card-detail-experience {
    color: #787887;
    margin-bottom: 4px;
}

.doctor-card-detail-location {
    font-weight: 700;
    display: inline-block;
}

.doctor-card-detail-clinic {
    margin-bottom: 5px;
}

.doctor-card-options-container {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.book-appoinment-btn {
    width: 212px;
    height: 40px;
    padding: 4px 0;
    vertical-align: middle;
    color: #fff;
    background-color: #14bef0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.book-appoinment-btn>div:nth-of-type(2) {
    font-size: 11px;
}