.searchpage-container {
    max-width: 1180px;
    margin: auto;
    margin-top: 10px;
    color: #414146;
    overflow-x: hidden;
}

.searchpage-container img {
    max-width: 100%;
}

.search-results-container>h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.search-results-container>h3 {
    margin-top: 12px;
    color: #2d2d32;
    text-align: left;
    font-size: 15px;
}