.bod{
    margin-top: 4rem;
    display: flex;
    border: 1px solid red;
}

#mai{
    width: 350px;
    height: 300px;
    margin-top: 2rem;
    border: 1px solid rgb(194, 194, 194);
}
p{
    margin-left: 1.5rem;
}
.heading{
    padding: .5rem;
    font-size: medium;
}
.mes{
    color: black;
    font-size: small;
}
.alert{
    margin-top: 1rem;;
    font-size: large;
}
input{
    width: 80%;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.but{
    margin-left: 1.5rem;
    width: 86%;
    padding: 0.5rem;
    border-radius: 4px;;
    border: 1px solid rgb(0, 183, 255);
    background-color: rgb(0, 183, 255);
    color: black
}.pin{
    margin-bottom: 1rem;
    color: rgb(0, 183, 255) ;
}
.pin:hover{
    text-decoration: underline;
    cursor: pointer;
}