body{
    font-family: "Camphor" ;
}

.register{
    width: 350px;
    /* height: 400px; */
    margin-top: 2rem;
    background:rgb(255, 255, 255);
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16p rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    /* align-items: center; */
    text-align: center;
}
.total{
    display: flex;
    /* height: 550px; */
    margin-top: 2rem;
    margin-bottom: 2%;
}

.Heading{
    display: flex;
}
.Heading > h4{
    color:rgb(95, 94, 94);
}
.Heading > p{
    margin-left: 5rem;
}

.register > input{
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}



.register > .button{
    background: #4086e2;
    border: 1px solid #3e7ed1;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

p{
    text-align: left;
    font-size: small;
    color: rgb(173, 173, 173);
    margin-left: 1%;
}
.check{
    display: flex;
    margin-left: -0.5rem;
}
.checkbox{
    margin-left: 0.5rem;
    margin-top: 10px;
}
label{
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    color: rgb(168, 168, 168);
}
.smallp{
    margin-top: 0.5rem;
    margin-left: 2.3rem;
    margin-bottom: 2rem;
    font-size: 10px;
}
.smalla{
    text-decoration: none;
    color: rgb(20, 182, 247)
}
